.station-list {
  margin-top: 20px;
  text-align: center; /* 确保内容居中 */
}

.station-list h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.station-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.station-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}

.station-list li:hover {
  background-color: #f8f9fa;
}

.station-list li:last-child {
  border-bottom: none; /* 去掉最后一个列表项的下边框 */
}