{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,less,md}": [
    "prettier --write"
  ],
  "*.{html}": [
    "prettier --write"
  ],
  "*.{test,spec}.{js,jsx,ts,tsx}": [
    "jest --bail --findRelatedTests"
  ]
}
